# CMake build directories
build/
builds/
build.*/
cmake-build-*/

# User-specific CLion (IDEA) settings:
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf/
.idea/**/workspace.xml

# Mac OS Finder preferences:
.DS_Store