# CMake build directories
build/
builds/
build.*/
cmake-build-*/

# Documentation output
doc/
doxygen/cppreference.xml
doxygen/FRONTMATTER.md

# CLion preferences
.idea/*

# MacOS Finder preferences
.DS_Store
